<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>404 Error</title>
	<style type="text/css">
		
		* {
			padding: 0;
			margin: 0;
			user-select: none;
			box-sizing: border-box;
		}

		body {
			display: grid;
			place-content: center;
			text-align: center;
			height: 100vh;
			gap: 20px;
		}

		h1 {
			font-size: 7rem;
			font-weight: 300;
			color: #ff8f59;
		}

		a {
			text-decoration-style: dashed;
			color: #ff8f59;
		}

		.head {
			font-size: 2rem;
		}

	</style>
</head>
<body>
	<h1>404</h1>
	<p class='head'>OOOPS! NOTHING WAS FOUND</p>
	<p class='desc'>The page that you're looking for might have been removed had its name changed or is temporarily<br> unavailable.
		<a href='/'>Return to Home</a>
	</p>

</body>
</html>